body{
  background-color: blueviolet;
}
.gif{
  display: flexbox;
  justify-content: center;
}
.header {
  display: flex;
}
.text{
  font-size: xx-large;
  display: flex;
  justify-content: center;
  color: darkorange;
}
.item {
  background-color: #d900ff;
  width: 100%;
  margin: 5px;
  padding: 20px;
  text-align: center;
}
 